#execute {
	background-color:#009b15;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
    border-radius:15px;
    border: 1px #009b15 solid;
	display:inline-block;
	cursor:pointer;
	color:#fff;
    font-family:Arial;
    font-size: 1.1rem;
    padding: 15px 30px;
    margin: 10px 0 10px 0;
}

#execute:hover {
	background-color:#148340;
}

#execute:disabled {
    opacity: 0.6;
    cursor: default;
	background-color:#148340;
}

.resultsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 10px 0 10px;
}
  
.resultsTable td, .resultsTable thead,  .resultsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.resultsTable tbody tr:nth-child(even){background-color: #ada9a9;}

.resultsTable tbody td:hover {background-color: #ddd;}

.resultsTable thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #af6464;
  color: #000;
}